# Ігнорувати папку node_modules
node_modules/

# Ігнорувати папку .parcel-cache
.parcel-cache/

# Ігнорувати папку dist (якщо вона генерується автоматично)
dist/

# Ігнорувати файли конфігурації IDE
.vscode/
.idea/

# Ігнорувати лог-файли та тимчасові файли
*.log
*.tmp

# Ігнорувати файли залежностей
package-lock.json

# Ігнорувати SCSS-мапи
*.css.map

# Ігнорувати системні файли
.DS_Store
Thumbs.db

# Ігнорувати локальні налаштування
.env
.env.local